<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiKyROQTI2vKV8SqxKTUe9jX6VgCp6jr0</string>
	<key>GCM_SENDER_ID</key>
	<string>932504887346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mMusic</string>
	<key>PROJECT_ID</key>
	<string>m-music-796f8</string>
	<key>STORAGE_BUCKET</key>
	<string>m-music-796f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932504887346:ios:1eaf07ae27c30d88ab1c2b</string>
</dict>
</plist>